/*-------------------------*/
/* Simple Idle JS Game CSS */
/*-------------------------*/
body {
	background-color: rgba(0,0,0,1);
	color: rgba(255,255,255,1);
	text-align: center;
}

#maincol {
	background-color: rgba(255,255,255,0.2);
	border-radius : 15px;
	padding-top: 15px;
	padding-bottom: 15px;
}